
table#finder-wizard-admin-edit-steps-table div.finder-wizard-step {
  margin-left: 3em;
}

div.finder-wizard-form label {
  font-weight: bold;
}

div.finder-wizard-header {
  margin: 0 0 5px;
  padding: 5px;
  background: #f1ddff none repeat scroll 0 0;
  border: 1px solid #6920f0;
  color: #1f00aa;
}